<div class="list-group">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Type</h4>
    <p class="list-group-item-text"><%= connection.connection %></p>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Provider</h4>
    <p class="list-group-item-text"><%= connection.provider %></p>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Testnet?</h4>
    <p class="list-group-item-text"><%= connection.testnet ? 'Yes' : 'No'%></p>
  </div>
</div>
