<div class="padding">
  <div class="list-group">
    <a href="#" class="list-group-item" data-toggle="modal" data-target="#new_expiration_modal">
      <h4 class="list-group-item-heading">Create expiration</h4>
      <p class="list-group-item-text">Every expiration has its own smart contract. Create a new one here and have it automatically published on the main page.</p>
    </a>
    <a href="#" class="list-group-item" data-toggle="modal" data-target="#publish_expiration_modal">
      <h4 class="list-group-item-heading">Publish expiration</h4>
      <p class="list-group-item-text">Publish an existing Etheropt smart contract on the main page.</p>
    </a>
    <a href="#" class="list-group-item" data-toggle="modal" data-target="#disable_expiration_modal">
      <h4 class="list-group-item-heading">Disable expiration</h4>
      <p class="list-group-item-text">Disable an existing Etheropt smart contract so it no longer appears on the main page.</p>
    </a>
  </div>
</div>
