<div class="padding">
  <p>EtherOpt is a decentralized options exchange built on <a href="https://ethereum.org/" target="_blank">Ethereum</a>. The options are vanilla call and put options on the price of Ethereum in USD as reported by <a href="https://poloniex.com/exchange#btc_eth" target="_blank">Poloniex</a> and <a href="http://www.coindesk.com/price/" target="_blank">Coindesk</a> and verified by <a href="https://www.realitykeys.com/" target="_blank">Reality Keys</a>. EtherOpt has no owner. Its entire operation is described and executed by an Ethereum <a href="https://github.com/etheropt/etheropt.github.io/blob/master/smart_contract/etheropt.sol" target="_blank">smart contract</a>. EtherOpt does not make any money as the smart contract does not charge any fees &#8212; not for trading, not for adding funds, not for withdrawing, not for anything.</p>
  <p><a class="btn btn-default" href="https://etheropt.github.io" target="_blank"><img src="images/logo.svg" style="height: 1em;" /> EtherOpt</a> is open source on <a class="btn btn-default" href="https://github.com/etheropt/etheropt.github.io" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a> and produced by <a class="btn btn-default" href="https://etherboost.github.io" target="_blank"><img src="https://etherboost.github.io/images/logo.svg" style="height: 1em;" /> Etherboost</a></p>

  <hr />
  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/etheropt" data-widget-id="721944957989294080" data-chrome="nofooter noborders noscrollbar noheader">Updates from @etheropt</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
