<div class="padding">

  <div class="panel panel-default" id="notifications-container">
    <div class="panel-heading">
      <h3 class="panel-title">Notification log</h3>
    </div>
    <div class="panel-body">
      <div id="notifications"></div>
      <button type="button" class="btn btn-default btn-xs" id="clear-log" style="float: right;">Clear log</button>
    </div>
  </div>

  <div id="market-spinner"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></div>
  <div id="market">
  </div>

</div>
