html,body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}
body {
  display:table;
}

#family {
  width: 100%;
  background: #eee;
  padding-top: 3px;
}

#family .inside {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#family a {
  text-decoration: none;
  color: #000;
}

#family button {
  margin-bottom: 3px;
}

#header {
  width: 100%;
  display:table-row;
  font-size: 18px;
  height: 120px;
  padding: 0;
  margin-bottom: 8px;
}
#header img {
  height: 80px;
  vertical-align: middle;
}
#layout-container{
  background: #fff;
  height:100%;
}

.lm_content{
  overflow: scroll;
  background: #fff;
}

#connection {
  clear: both;
}

.padding, .pad {
  margin: 12px;
}

.log-container {

}
.log {
  height: 400px;
  overflow-y: auto;
}

.list-spacing li {
  margin-bottom: 12px;
}

#twitter ul {
  list-style-position: inside;
  padding-left:0;
}

/* Absolute Center Spinner */
#loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
#loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
