[submodule "cargochain"]
	path = cargochain
	url = https://github.com/fstepho/cargochain
[submodule "ProofOfExistence3"]
	path = ProofOfExistence3
	url = https://github.com/fstepho/ProofOfExistence3
[submodule "ProofOfExistence2"]
	path = ProofOfExistence2
	url = https://github.com/fstepho/ProofOfExistence2
[submodule "ProofOfExistence1"]
	path = ProofOfExistence1
	url = https://github.com/fstepho/ProofOfExistence1
[submodule "truffle"]
	path = truffle
	url = https://github.com/fstepho/truffle
[submodule "testrpc"]
	path = testrpc
	url = https://github.com/fstepho/testrpc
[submodule "meteor-dapp-boilerplate"]
	path = meteor-dapp-boilerplate
	url = https://github.com/fstepho/meteor-dapp-boilerplate
[submodule "eth-netstats"]
	path = eth-netstats
	url = https://github.com/fstepho/eth-netstats
[submodule "ethereum_voting_dapp"]
	path = ethereum_voting_dapp
	url = https://github.com/fstepho/ethereum_voting_dapp
